$swiftbook-blue: #2C88DC;
$button-text-size: 22px;
@import "grater";

.greybox {

	// max-width:500px;
	width:100%;
	margin:20px auto;
	padding:20px;
	background: #edf0f2;
	border-radius: 5px;
	display: block;
	box-sizing: border-box;

	h3 {
		margin-top:0px;
		text-align: center;
		font-family: 'Helvetica', 'sans-serif';
		font-weight: bold;
		font-size: 18px;
		margin-bottom:20px;
		-webkit-font-smoothing:antialiased;
	}
	p {
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 20px;
	}
	a, a.button, .button {
		color:white;
		margin-bottom: 0px;
		width: 100%;
		clear:both;
		-webkit-font-smoothing:antialiased;
	}
}

.button {
	display: block;
	margin: 25px auto;
	max-width: 100%;
	width:90%;
	height: 40px;
	text-align: center;
	background: $swiftbook-blue;
	line-height: 40px;
	font-size: $button-text-size;
	font-family:'Lato';
	font-weight: 600;
	border-radius:5px;
	color:white;
	text-decoration: none;
	padding:0px;

	& > span {
		display: none;
	}
}