div.grater-container {
  width: 640px;
  margin: 0 auto; }

@media all and (max-width: 660px) {
  div.grater-container {
    width: 300px; } }
div.grater {
  zoom: 1; }

div.grater > div {
  width: 300px;
  margin: 0 0 2em; }

div.grater > div:first-child {
  float: left; }

div.grater > div:last-child {
  float: right; }

div.grater.reverse > div:first-child {
  float: right; }

div.grater.reverse > div:last-child {
  float: left; }

div.grater:before, div.grater:after {
  content: "";
  display: table; }

div.grater:after {
  clear: both; }

@media all and (max-width: 660px) {
  div.grater {
    margin-bottom: 1em; }

  div.grater > div {
    float: none !important;
    margin: 0 auto 2em; } }
div.grater.greybox > div:first-child {
  width: 170px;
  margin-bottom: 0px; }

div.grater.greybox > div:last-child {
  width: 410px;
  margin-bottom: 0px; }

@media all and (max-width: 660px) {
  div.grater.greybox > div:first-child, div.grater.greybox > div:last-child {
    width: 260px;
    float: none; } }
.greybox {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background: #edf0f2;
  border-radius: 5px;
  display: block;
  box-sizing: border-box; }
  .greybox h3 {
    margin-top: 0px;
    text-align: center;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased; }
  .greybox p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px; }
  .greybox a, .greybox a.button, .greybox .button {
    color: white;
    margin-bottom: 0px;
    width: 100%;
    clear: both;
    -webkit-font-smoothing: antialiased; }

.button {
  display: block;
  margin: 25px auto;
  max-width: 100%;
  width: 90%;
  height: 40px;
  text-align: center;
  background: #2c88dc;
  line-height: 40px;
  font-size: 22px;
  font-family: 'Lato';
  font-weight: 600;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 0px; }
  .button > span {
    display: none; }
