div.grater-container{width:640px;margin:0 auto}@media all and (max-width: 660px){div.grater-container{width:300px}}div.grater{zoom:1}div.grater>div{width:300px;margin:0 0 2em}div.grater>div:first-child{float:left}div.grater>div:last-child{float:right}div.grater.reverse>div:first-child{float:right}div.grater.reverse>div:last-child{float:left}div.grater:before,div.grater:after{content:"";display:table}div.grater:after{clear:both}@media all and (max-width: 660px){div.grater{margin-bottom:1em}div.grater>div{float:none !important;margin:0 auto 2em}}

div.grater.greybox > div:first-child {
	width:170px;
	margin-bottom:0px;
}
div.grater.greybox > div:last-child {
	width:410px;
	margin-bottom:0px;
}
@media all and (max-width: 660px){
	div.grater.greybox > div:first-child, div.grater.greybox > div:last-child {
		width:240px;
		float:none;
	}
}
@media all and (max-width: 360px){
	div.grater-container {
		width:100%;
	}
}