/*imports*/
@import "normalize", "grater", "elastic", "utility", "rgrid";

$prologue-blue: #2c88dc;
$prologue-light-blue: #2c88dc;

body {
	padding-top:50px
}

* {
	-webkit-font-smoothing:antialiased;
}

.transition {

transition: left 0.2s linear;
-webkit-transition: left 0.2s linear;

}

.logo {
	text-indent: -5000px;
	font-size:1px;
	color:transparent;
	background: url('../img/logo-white.svg') no-repeat center center;
    background-size: 122px 20px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width:122px;
    height:20px;
	display: block;
	position: absolute;
	transition: left 0.1s linear;
	-webkit-transition: left 0.1s linear;

	margin:10px 20px ;

}

.iphone {
	// background: url('../img/iPhoneSlice.svg') no-repeat center center;
	background: url('../img/iPhoneEditable.svg') no-repeat center center;
	// background: url('../img/iPhonebackground.svg') no-repeat center center;
	background-size: 374px;
	// background: url('../img/iPhoneSlice.png') no-repeat center center;
	min-width:400px;
	min-height:800px;
	position: relative;

	.iphone-text {
		font-size:40px;
		color:$prologue-blue;
		margin: 152px 110px 0px 93px;
		padding: 0px;
		display: block;
		position: absolute;
		top: 0px;
		text-align: center;
	}
}
#mc_embed_signup {
	margin-top: 530px;
}

#mce-EMAIL, #mc-embedded-subscribe {
	text-align: center;
	display: block;
	margin:0px auto;
	border-color:$prologue-blue;
	border-style: solid;
	border-radius: 5px;
	border-width: 4px;
	padding: 7px 0px;
	font-size: 20px;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
	width:280px;
	color:$prologue-blue;
}

#mc-embedded-subscribe {
	margin-top: 30px;
	text-decoration: underline;
	border:none;
	color:$prologue-blue;
	background: none;
}

#mce-EMAIL:focus {
	outline:none;
}


::-webkit-input-placeholder {  
   color: $prologue-blue;  
   opacity:0.7;
}
:-moz-placeholder {  
   color: $prologue-blue;  
   opacity:0.7;
}
::-moz-placeholder {  
   color: $prologue-blue;  
   opacity:0.7;
}
:-ms-input-placeholder {  
   color: $prologue-blue;  
   opacity:0.7;
}


h2	{
	text-align:center;
	color:$prologue-blue;
}
.profiles {
	img {
		display: block;
		position:relative;
		max-width: 128px;
		margin:10px auto;
		border:4px solid $prologue-blue;
		border-radius:70px;
	}

	p {
		text-align:center;
		max-width:300px;
		font-size:20px;
		color:$prologue-blue;
		margin:10px auto;
		-webkit-font-smoothing:antialiased;
		a {
			color:$prologue-blue;
			text-decoration: underline;
		}
	}

}

.copyright {
	background: $prologue-blue;
	padding:20px 0px 20px;

	p, h3, h4, h2 {
		text-align:left;
		// max-width:300px;
		color:white;

		a, a:visited, a:hover {
			color:white !important;
			text-decoration: underline;
		}
	}	

	p {
		font-size:16px;
		margin:10px auto;
		-webkit-font-smoothing:antialiased;
		margin-bottom:0px;
		margin-top: 0px;
		font-weight: 400;
		line-height: 20px;
	}	

}

.banner {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height:40px;
	text-align: center;
	display: block;
	background: $prologue-blue;
	color: white !important;
	font-family: 'Lato';
	text-decoration:none;
	font-size:16px;
	padding:0px;
	box-sizing: border-box;
	line-height: 40px;
	border-radius: 20px;
	z-index:1000;
	border-radius:0px;
	z-index:1000;
}

/* small size */
@media screen and (max-width: 720px) {

	// .logo {
	// 	position: absolute;
	// 	top:70px;
	// 	left:50%;
	// 	margin-left: -75px;
	// }


	.iphone {
		background: none;
		min-height: 0px;
		margin-bottom:20px;
		min-width:280px !important;

		.iphone-text {  
			padding:90px 0px 20px 0px;
			margin:0px;
			width:100%;
			box-sizing: border-box;
			position: relative;
		}

		#mc_embed_signup {
			margin-top:40px;
		}

		#mce-EMAIL {
			max-width: 225px;
		}
	}


	.banner {
		position: fixed;
		width:100%;
		height: 40px;
		line-height: 40px;
		top: 0px;
		left:0px;
		border-radius:0px;
		padding:0px;
		z-index:1000;
		font-family:'Lato';
		font-size:16px;
	}

}
