@mixin block-bottom-margins {
   margin-bottom: 20px;
}

@mixin transitionthing {
  -moz-transition: all 0.9s;
  -o-transition: all 0.9s;
  -webkit-transition: all 0.9s;
  -ms-transition: all 0.9s;
  transition: all 0.9s;
}

.rgrid-container {
   @extend .clearfix;
   @include transitionthing;
   display:block;
   box-sizing:border-box;
   width:100%;
   max-width:1000px;
   margin: 0 auto;
   padding: 0px 20px;

}
.rgrid {
   width:100%;
   max-width:980px;
   clear:both;
   display:table;
   margin-bottom:0px;
   @include transitionthing;

   & > .column {
      @include block-bottom-margins;
      @include transitionthing;
      width:100%;
      display:block;
      float:left;
      margin-right:20px;
   }
   & > .rgrid-1 {
      @extend .column;
      max-width:300px;
   }
   & > .rgrid-2 {
      @extend .column;
      max-width:640px;
   }
   & > .rgrid-3 {
      @extend .column;
      max-width:980px;
   }

   & > :last-child {
      margin-right:0px !important;
   }
}
   // 660px (two column tablet)
   @media all and (max-width: 1001px){
      .rgrid-container {
         max-width:640px !important;
      }
      .rgrid{
         max-width:640px !important;

         .rgrid-1 {
            max-width:280px !important;
         }
         & > .rgrid-2, & > .rgrid-3, .rgrid-1.expands {
            max-width:620px !important;
         }
      }
   }
   // 660px (two column tablet)
   @media all and (max-width: 640px){
      .rgrid-container {
         max-width:280px !important;
      }
      .rgrid{
         max-width:280px !important;

         & > .rgrid-1, & > .rgrid-2, & > .rgrid-3 {
            max-width:280px !important;
         }
      }
   }

.autofloat {
   margin-right: auto !important;
   margin-left: auto !important;
   float:none !important;
}