@import "main";

* {
	font-family: 'Lato';
}

// $swiftbook-blue: #1078D8;
$swiftbook-blue: #2C88DC;
$swiftbook-yellow: #FDFF77;
$swiftbook-black: #222222;
$swiftbook-red: #FD6A7C;
$swiftbook-green: #50E24A;
$link-green: #417109;


// Font sizes
$regular-text-size: 16px;
$button-text-size: 22px;
$button-text-size-small: 18px;

/* Adjust Body & Elastic stuff*/
body {
	padding-top:0px;
}

.elastic-container {
	max-width: 920px;
}

.elastic {
	max-width:920px;
	margin:0 auto;
}

p, pre {
	margin: 0 0 1em 0;
	line-height: 26px;
}

/* Header Styles */
.header-container {
	width:100%;
	margin:0 auto 30px;
}
header {
	display: block;
	width: 100%;
	position: relative;
	height: 30px;
	margin:0 auto;
	font-family:'Montserrat';
	font-weight:400;

	text-align: right;
	text-transform: capitalize; 

	background: $swiftbook-blue;
	height: 44px;

	p, p a, .site-nav-item {
		margin:0px 10px;
		// font-family:'Montserrat';
		font-weight:400;
		float:left;
		color:white;
	}

	p, p a {
		font-size: 18px;
		line-height: 44px;
	}
	.site-nav-item {
		font-size: 18px;
		line-height: 44px;
	}

	a.logo {
		text-indent:-5000px;
		background-image: url('/img/logo-white-new.svg');
	    background-size: 237px 35px;
	    background-position: 0px 0px;
	    background-repeat: no-repeat;
	    width:237px;
	    height:35px;
	    display: block;
	    margin: 3px 20px 8px 0px;
	}

	p:last-child {
		float:right;
	}
}

/* Cover Section */
.swiftbookcover {
	background: white;

	h1 {
		font-size:40px;
		font-family:'Lato';
		font-weight:200;
		text-align: center;
		color:$swiftbook-blue;
		em {
			text-decoration: underline;
			font-style: italic;
			font-weight: 200;
		}
	}

	.bookcover {
		margin:10px auto;
		max-width:480px;
		width:100%;
		display: block;
	}
}

.betaspan {
	color:$swiftbook-green;
}
.futuredatespan {
	opacity: 0.65;
}

.triforce {
	margin:10px auto;
	max-width:200px;
	width:100%;
	display: block;
}

.gumroad-link, a.gumroad-link, .gumroad-link:visited, a.gumroad-link:visited {
	text-align: center;
	text-decoration: underline;
	color: $swiftbook-blue !important;
	line-height: 40px;
	font-size: 16px;
	font-family:'Lato';
	margin:-50px 0px 20px;
	display: block;
}

.button.gumroad-button {
	display: block !important;
	margin: 50px auto !important;
	max-width: 380px !important;
	width:80% !important;
	height: 51px !important;
	text-align: center !important;
	background: $swiftbook-blue !important;
	line-height: 51px !important;
	font-size: $button-text-size !important;
	font-family:'Lato' !important;
	font-weight: 400 !important;
	border-radius:5px !important;
	color:white !important;
	text-decoration: none !important;
	padding:0px !important;

	& > span {
		display: none !important !important;
	}
}

.button {
	display: block;
	margin: 25px auto;
	max-width: 100%;
	width:90%;
	height: 40px;
	text-align: center;
	background: $swiftbook-blue;
	line-height: 40px;
	font-size: $button-text-size;
	font-family:'Lato';
	font-weight: 600;
	border-radius:5px;
	color:white;
	text-decoration: none;
	padding:0px;

	& > span {
		display: none;
	}
}

.marketing-text {
	// padding:0px 20px;
	box-sizing: border-box;

	h2 {
		font-size: 40px;
		font-family: 'Lato';
		font-weight: 300;
		line-height: 50px;
		color:$swiftbook-blue;
	}

	h3	{
		font-size: 32px;
		font-family: 'Lato';
		line-height: 40px;
		font-weight:300;
		color:$swiftbook-blue;
		text-align: justify;
	}

	h4	{
		font-size: 18px;
		font-family: 'Lato';
		line-height: 20px;
		font-weight:600;
		color:$swiftbook-black;
		text-align: center;
	}

	p {
		font-family:'Lato';
		font-weight: 300;
		font-size: 18px;
		line-height: 24px;
		// color:$swiftbook-black;
		color:#000000;
		text-align: justify;
		-webkit-font-smoothing: auto;
	}


}

a:visited, a {
	color:$swiftbook-blue !important;
}

.special-marketing-text.marketing-text {
	// padding:0px 20px;
	box-sizing: border-box;

	h2 {
		font-size: 32px;
		font-family: 'Lato';
		font-weight: 600;
		line-height: 38px;
		color:$swiftbook-black;
		text-align: center;
		margin-bottom:0px;
		margin-top:100px;
	}

	h3	{
		font-size: 20px;
		font-family: 'Lato';
		line-height: 24px;
		font-weight:400;
		color:$swiftbook-black;
		text-align: center;
		margin-bottom:0px;
		margin-top:0px;
	}

	p {
		font-family:'Lato';
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color:$swiftbook-black;
		text-align: center;
		margin-top:0px;
		margin-bottom:100px;
		a {
			color: $swiftbook-blue;
			text-decoration: underline;
		}
		a.button, a.button:visited {
			max-width:300px;
			color:white !important;
			font-weight: 400;
			text-decoration: none;
		}
	}
}

.podcast-box {
	width:100%;
	img {
		// @extend .clearfix;
		float:left;
		margin:15px !important;
		max-width: 100px !important;
		width:100%;
	}

	h4 {
		margin-left:130px;
	}
	p {
		margin-left:130px;
	}
}
@media only screen and (max-width: 660px) {
.podcast-box {
	img {
		float:none;
		margin:15px auto !important;
	}
	h4 {
		margin-left:0px;
	}
	p {
		margin-left:0px;
	}
}	

}


.colored-row {
	padding-top:25px;
	padding-bottom:25px;
	max-width:100%;

	.marketing-text {
		max-width:920px;
		h2 {
			font-weight: 200;
		}
		h3 {
			font-weight: 600;
		}
	}
}

.blue-row, .copyright {

	@extend .colored-row;
	background: $swiftbook-blue;

	.marketing-text {
		h2, h3 {
			color:white;
		}
	}

	.button {
		border: 2px solid white;
		background: transparent;
		color:white !important;
		margin: 10px auto;
		max-width: 300px;
		width:100%;
	}
}

.yellow-row {
	@extend .colored-row;
	background: $swiftbook-yellow;

	h2 {
		color: $swiftbook-green;
	}
}

.red-row {
	@extend .colored-row;
	background: $swiftbook-red;

	.marketing-text {
		h2 {
			color: $swiftbook-black;
		}

		h3 {
			color:#222222;
			font-size: 26px;
			text-align:center;
			font-weight: 600;
		}
	}
}

.green-row {
	@extend .colored-row;
	background: $swiftbook-green;

	.marketing-text {
		h2 {
			color: $swiftbook-black;
		}

		h3 {
			color:#222222;
			font-size: 30px;
			text-align:left;
			font-weight: 600;
			margin:0px
		}

		img {
			max-width: 480px;
			width:95%;
			margin: 0px auto 0px;
			display: block;
		}

		.button.gumroad-button {
			border: 3px solid white !important;
			background:transparent !important;
			color:white !important;
			margin: 10px auto 25px !important;
			line-height:40px !important;
			height:40px !important;
			width:95% !important;
			max-width:480px !important;
		}
	}
}

.yosemite-row {
	@extend .blue-row;
	background: $swiftbook-blue;
	// background-image: url('../img/code2Phone.png'), url('../img/phoneBackground.jpg');
	// background-position: bottom center, center top;
	// background-repeat: no-repeat;
	// background-size: auto, cover;
	background-image: url('../img/justDesktopPhone.png'), url('../img/justDesktopCode.png'), url('../img/phoneBackground.jpg');
	background-position: center bottom, left bottom, center top;
	background-repeat: no-repeat;
	background-size: auto, auto, cover;
	min-height:562px;

	.marketing-text {
		h2, h3 {
			color:$swiftbook-black;
		}
	}

	.mobileCodeBox, .mobilePhoneBox {
		min-height: 400px;
	}
}

.lego-row {
	@extend .blue-row;
	background: white;
	background-image: url('../img/legos.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: auto;
	min-height:520px;
	.marketing-text {
		h2, h3 {
			color:$swiftbook-blue;
		}
	}
}
@media only screen and (max-width: 660px) {
	.lego-row {
		padding-bottom:250px;
		min-height:220px;
		background-image: url('../img/legos-mobile.jpg');
		background-size: 600px 250px;
	}
}


.codeandapp-row {
	@extend .blue-row;
	background: white;
	background-image: url('../img/appandcode.png');
	background-position: center bottom;
	background-size: 2000px 520px;
	background-repeat: no-repeat;
	min-height:520px;
	.marketing-text {
		h2, h3 {
			color:$swiftbook-blue;
		}
	}
}
@media only screen and (max-width: 660px) {
	.codeandapp-row {
		padding-bottom:250px;
		background-image: url('../img/appandcode-mobile.png');
		background-size: auto;
		min-height:220px;
		background-size: 600px 250px;
	}
	.invisiblock, .invisiblock::before, .invisiblock::after {
		display: none;
	}
}

.liveapp-row {
	@extend .blue-row;
	background: white;
	background-image: none;
	.marketing-text {
		h2, h3 {
			color:$swiftbook-blue;
		}
	}

}

.elastic-reverse > div {
	float:right !important;
}

.method-row {
	@extend .colored-row;

	.marketing-text {
		h2 {
			color: $swiftbook-blue;
		}

		h3 {
			color:#222222;
			font-size: 26px;
			text-align:center;
			font-weight: 600;
		}

		img {
			max-width: 162px;
			margin: 50px auto 0px;
			display: block;
			width:95%;
		}
	}
}

.narrowdivs > div {

	img {
		display: block;
		margin:0px auto;
	}

	p {
		text-align:center;
		margin: 20px 0px;
	}

	div {
		img {
			max-width:78px;width:100%;
		}
	}

	margin-bottom:20px;
}

.app-block {
	@extend .clearfix;
	margin:25px 0px;
	border:4px dashed transparent;
	border-radius: 30px;
	padding:10px;
	box-sizing:border-box;
	background: $swiftbook-blue;

	// &:hover {
	// 	border:4px dashed white;
	// }

	img {
		float:left;
	}

	p {
		margin:0px 0px 0px 125px;
		font-size: 24px;
		line-height: 32px;
		color:white;
		font-weight: 400;
		font-family: 'Lato';
	}

	&.mystery {
		border:4px solid white;

		p {
			margin:25px 10px;
			text-align:center;
		}
	}
}



.profiles {
	img {
		display: block;
		position:relative;
		max-width: 128px;
		margin:10px auto;
		border:0px solid $swiftbook-blue;
		border-radius:100px;
	}

	p {
		text-align:Left;
		margin:10px auto;
		-webkit-font-smoothing:antialiased;

		strong {
			text-align: center;
		}

		a {
			color:$swiftbook-blue;
			text-decoration: underline;
		}
	}
}

hr {
	border:2px solid #333333;
	margin:35px 10px;
}

.iphone-mockup {

	img {
		width:100%;
		max-width: 320px;
		display: block;
		margin:30px auto;
	}
}

.button-input {
	@extend .button;
	background: #FAFAFA;
	border: 2px solid #4A4A4A;
	color:#4a4a4a;

	&::-webkit-input-placeholder{
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	&:-ms-input-placeholder{
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	&::-moz-placeholder{
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	&:-moz-placeholder {
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	
	&:focus {
		outline:0;
	}

}


.mobile-visible {
	display: none;
	@extend .clearfix;
}

// Media Queries and stuff
@media only screen and (max-width: 660px) {

	.button, .button.gumroad-button {
		font-size: $button-text-size-small !important;
	}

	.swiftbookcover {
		h1 {
			font-size:30px;
		}
	}	

	.marketing-text {
		h2 {
			font-size: 30px;
			line-height: 30px;
		}

		p, h3 {
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
		}
	}

	.yosemite-row {

		// background-size: 800px 450px, 800px 450px, cover;
		background-size: 500px 281px, 500px 281px, cover;
		background-position: center bottom, -25px bottom, center top;;
		min-height:300px;

	}

	.app-block {
		margin:25px 0px;
		border:0px dashed white;

		&:hover {
			border:0px dashed white;
		}

		// hide to make them left aligned
		img {
			float:none;
			display: block;
			margin: 0px auto 10px;
		}

		p {
			// hide to make them left aligned
			margin:0px;
			font-size: 16px;
			line-height: 24px;
			// hide to make them left aligned
			text-align: center;
		}

		&.mystery {
			p {
				margin:20px 10px;
			}
			&:hover {
				border:4px dashed white;
			}
		}
	}

	.iphone-mockup {
		display: none;
	}

	.pricesubbox {
		width:100% !important;
		max-width: 280px !important;
		float:none !important;
		margin:20px auto !important;
		padding:15px !important;
	}

	.pricebox {
		max-width:100% !important;
		padding:0px;
		margin:10px 0px;
		position: relative;

		& div:last-child {
			margin:20px auto !important;
			padding:15px !important;
		}

		& div:first-child {
			margin:20px auto !important;
			padding:15px !important;
		}

		p {
			text-align: left !important;
			font-size:16px !important;
			line-height:16px !important;
			padding-left:36px !important;
			margin-bottom:36px !important;
		}

		a.button {
			margin-top:30px !important;
		}
	}
}

#mc_embed_signup {
	margin-top: 0px !important;
}
.email {
	margin: 0px auto 10px !important;
}

#mc_embed_signup {
	label {
		text-align: center;
	}

	input.button {
		margin: 20px auto !important;
	}
}


.swiftbookchimpform {

	#mc-embedded-subscribe {

	}

	#mc_embed_signup {
		margin-top: 30px;
	}

	#mce-EMAIL {
		font-family: 'Lato';
		text-align: center;
		display: block;
		margin:0px auto;
		box-sizing: border-box;
		border-color:$swiftbook-blue;
		border-style: solid;
		border-radius: 10px;
		border-width: 2px;
		padding: 0px 10px;
		font-smoothing:antialiased;
		-webkit-font-smoothing:antialiased;
		width:280px;
		color:$swiftbook-blue;
		line-height:42px;
		text-decoration:none;
		font-weight: 300;
		height: 50px;
		text-align: left;
		color:#000000;
		font-size: $button-text-size-small;
	}

	#mc-embedded-subscribe.button {
		font-family: 'Lato' !important;
		text-align: center;
		display: block;
		margin:0px auto;
		border-color:white;
		border-style: solid;
		border-radius: 10px;
		border-width: 2px;
		padding: 0px;
		font-size: $button-text-size-small !important;
		font-smoothing:antialiased;
		-webkit-font-smoothing:antialiased;
		width:280px;
		color:white;
		background-color: $swiftbook-blue;
		line-height:42px;
		text-decoration:none;
		font-weight: 400;
		height: 50px;
	}

	#mc-embedded-subscribe {
		// margin-top: 30px;
		// text-decoration: underline;
		// border:none;
		// color:$swiftbook-blue;
		// background: none;
	}

	#mce-EMAIL:focus {
		// outline:none;
	}

	::-webkit-input-placeholder {
		font-family: 'Lato';
		color: #000000;  
		opacity:0.7;
		text-align:left;
	}
	:-moz-placeholder {
		font-family: 'Lato';
		color: #000000;  
		opacity:0.7;
		text-align:left;
	}
	::-moz-placeholder {
		font-family: 'Lato';
		color: #000000;  
		opacity:0.7;
		text-align:left;
	}
	:-ms-input-placeholder {
		font-family: 'Lato';
		color: #000000;  
		opacity:0.7;
		text-align:left;
	}
}


.site-header {
    padding: 0px 0 0;
    overflow: auto;
    text-align: right;
    text-transform: uppercase;
}

.site-title-wrapper {
    display: table;
    margin: 0 auto;
    float: left;
}

.site-title {
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;

    // a {
    //     float: left;
    //     background: $primary;
    //     color: $background;
    //     padding: 5px 10px 6px;

    //     &:hover { background: $secondary; }
    // }
}
.site-logo {
    display: block;
    img { margin: 0px auto -7px; width: 120px; }
}

.site-nav {
    display:block;
    list-style: none;
    margin: 0px;
    height: 44px;
    line-height: 44px;
    padding:0px;
    background: $swiftbook-blue;

}

.site-nav-menu-button {
    background-image: url('/img/whitex.svg'), url('/img/whitemenu.svg');
    background-size: 40px 40px, 40px 40px;
    background-position: -40px 0px, 0px 0px;
    background-repeat: no-repeat;
    width:40px;
    height:40px;
    display: block;
    float:right;
    margin:2px 10px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display:none;
    &.active {
        background-position: 0px 0px, 40px 0px;
        margin:2px 2px;
    }
}

.site-nav-item {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 0 10px;
    text-align: right;
    float:right !important;
    color:white !important;
    text-decoration: none;
    background: $swiftbook-blue;

    a {
	    color:white !important;
	    text-decoration: none;    	
    }
    a:hover { 
        color: #424242;
        text-decoration: underline;
    }
}

.elastic {
	div {
		img {
			width:100%;
			max-width:300px;
			margin: 10px auto;
			display: block;
		}
	}
}

.elastic-three {
	div {
		img {
			width:100%;
			max-width:160px;
			margin: 10px auto;
			display: block;
		}
	}
}


.single.marketing-text {
	img {
		width:100%;
		max-width: 300px;
		margin: 10px auto;
		display: block;
	}
}

.single.swiftfoundations-text, .full.swiftfoundations-text, .elastic.swiftfoundations-text {

	p, p a, a, p a:visited, a:visited, h2 {
		text-align: center;
		color:$swiftbook-blue;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size:$regular-text-size;
		line-height: 26px;
		margin:0px 0px 20px 0px;
	}

	p a, a, p a:visited, a:visited {
		text-decoration: underline;
	}

	h2 {
		font-size:30px;
		font-weight:600;
	}

	img {
		margin:-20px auto 0px;
		width: 100%;
		max-width: 300px;
		display: block;
	}

	.button.gumroad-button {
		display: block !important;
		margin: 0px auto 20px !important;
		max-width: 280px !important;
		width:100% !important;
		height: 44px !important;
		border: 2px solid $swiftbook-blue;
		text-align: center !important;
		background: white !important;
		line-height: 44px !important;
		font-size: $button-text-size-small !important;
		font-family:'Lato', sans-serif !important;
		font-weight: 400 !important;
		border-radius:10px !important;
		color:$swiftbook-blue !important;
		text-decoration: none !important;
		padding:0px !important;
		box-shadow: none !important;
		font-weight: 400 !important;

		& > span {
			display: none !important !important;
		}
	}

}


.iphone {
	display: block;
	margin:0px auto 20px;
	background: url('../img/smalliPhone.svg') no-repeat center center;
	background-size: 312px;
	width:320px;
	min-width:312px;
	height:661px;
	min-height:661px;

	position: relative;
	padding:103px 0px 0px 30px;;
	box-sizing: border-box;

	video {
		display: block;
		width: 256px;
		height: 458px;
		margin: 0px;
		padding: 0px;
		display: block;
		border:4px solid $swiftbook-blue;
		border-radius:2px;
	}

}

.pricesubbox {
	display: block;
	width:50%;
	padding:15px;
	box-sizing:border-box;
	border-radius:10px;
	border: 2px solid $swiftbook-blue;
	float:right;
	background: white;
	margin-bottom:30px;
	position: relative
}

.pricebox {
	@extend .clearfix;
	display: block;
	width:100%;
	max-width:450px;
	box-sizing: border-box;
	padding:0px;
	margin:10px auto;
	color:$swiftbook-blue;
	position: relative;


	& div:last-child {
		@extend .pricesubbox;
		margin-top:30px;
		padding-right:30px;
		margin-left:15px;
		z-index: 10;
	}

	& div:first-child {
		@extend .pricesubbox;
		margin-left:-20px;
		z-index: 20;
	}

	h3 {
		font-family:'Lato';
		font-size:18px;
		line-height:26px;
		font-weight: 600;
		text-align: center;
		margin-top:0px;
		color:$swiftbook-blue;
	}

	p {
		text-align: left !important;
		font-size:$regular-text-size !important;
		line-height:16px !important;
		padding-left:36px !important;

		&.tv::before {
			content:"";
			display: inline-block;
			width:32px;
			height:32px;
			background-image: url('/img/TV.svg');
		    background-position: center center;
		    background-repeat: no-repeat;
		    margin-left:-38px;
		    margin-bottom:-16px;
		    margin-right:6px;
		}

		&.diary::before {
			content:"";
			display: inline-block;
			width:32px;
			height:32px;
			background-image: url('/img/Diary.svg');
		    background-position: center center;
		    background-repeat: no-repeat;
		    margin-left:-38px;
		    margin-bottom:-16px;
		    margin-right:6px;
		}
	}

	a.button, a.gumroad-button {
		margin: 0px 0px !important;
		background-color:white !important;
		width: 100% !important;
		color: $swiftbook-blue !important;
		border: 2px solid $swiftbook-blue !important;
		box-sizing: border-box !important;
		height: 50px !important;
		line-height: 42px !important;
		text-align:center !important;
		border-radius: 10px !important;
		text-decoration: none !important;

		&:active {
			color:white !important;
			background: $swiftbook-blue !important;
			&.blue {
				background: white !important;
				color:$swiftbook-blue !important;	
			}
		}

		&.blue {
			background: $swiftbook-blue !important;
			color:white !important;
		}

	}
}


@media only screen and (max-width: 400px) {
	// .elastic.swiftfoundations-text, .full.swiftfoundations-text  {

		// .iphone {
		// 	background: url('../img/smallersvgiPhone.svg') no-repeat center center;
		// 	background-size: 280px;
		// 	width: 280px;
		// 	min-width: 280px;
		// 	height: 586px;
		// 	min-height: 586px;
		// 	padding: 80px 0px 0px 20px;

		// 	video {
		// 		width: 234px !important;
		// 		height: 414px !important;
		// 	}
		// }

		.iphone{
			background-size: 229px;
			width: 240px !important;
			min-width: 240px !important;
			height: 433px;
			min-height: 555px;
			padding: 100px 0px 0px 26px;

			video {
				width: 185px !important;
				height: 330px !important;
			}
		}


	// }
}


.banner {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height:40px;
	text-align: center;
	display: block;
	background: $swiftbook-blue;
	color: white !important;
	font-family: Lato;
	text-decoration:none;
	font-size:16px;
	padding:0px;
	box-sizing: border-box;
	line-height: 40px;
	border-radius: 20px;
	z-index:1000;
	border-radius:0px;
	z-index:1000;
	font-family:'Lato';
}

@media only screen and (min-width: 601px) {
    .site-nav {
        display: block !important;
    }
}

@media only screen and (max-width: 600px) {

    .site-nav {
        padding-top:0px;
        clear:both;
        display: none;
        text-align: center;
    }

    .site-nav-item {
        display: block !important;
        padding: 15px 0px !important;
        text-align: center !important;
        width:100% !important;
        margin:0px !important;
    }

    .site-nav-menu-button {
        display:block !important;
    }

	.banner {
		position: fixed;
		width:100%;
		height: 40px;
		line-height: 40px;
		top: 0px;
		left:0px;
		border-radius:0px;
		padding:0px;
		z-index:1000;
		font-family:'Lato';
		font-size:16px;
	}
}

.betaflag {
	position: absolute;
	margin: -45px 0px 0px -90px;
	-webkit-transform: rotate(20deg);
	color: red;
	background: #FCCB6C;
	border-radius: 220px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 400;
	width: 84px;
	height: 114px;
	line-height: 114px;
	max-width: 84px;
	text-transform: uppercase;
	font-size: 32px !important;
	opacity: 0.7;
}

a.prologueproduction {
	text-indent:-5000px;
	// background-image: url('/img/APrologueProduction.svg');
	background-image: url('/img/prologuelabel.svg');
    background-size: 223px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    width:223px;
    height:60px;
    display: block;
    margin: 30px auto;
}

.homeiphoneicon {
	margin-top:200px !important;
}
@media only screen and (max-width: 600px) {
	.homeiphoneicon {
		margin-top:100px !important;
	}
}


.greybox {
	// max-width:500px;
	width:100%;
	margin:20px auto;
	padding:20px;
	background: #edf0f2;
	border-radius: 5px;
	display: block;
	box-sizing: border-box;
}