@import "main";

* {
	font-family: 'Noto Sans';
}

$swiftbook-blue: #1078D8;
$swiftbook-yellow: #FDFF77;
$swiftbook-black: #222222;
$swiftbook-red: #FD6A7C;
$swiftbook-green: #50E24A;
$link-green: #417109;

/* Adjust Body & Elastic stuff*/
body {
	padding-top:25px;
}

.elastic-container {
	max-width: 920px;
	// padding-top:50px;
	// padding-bottom:50px;
}

.elastic {
	max-width:920px;
	margin:0 auto;
}

p, pre {
	margin: 0 0 1em 0;
}

/* Header Styles */
header {
	display: block;
	width: 100%;
	position: relative;
	height: 100px;

	font-family:'Montserrat';
	font-weight:300;

	p, p a {
		margin:0px 10px;
		font-family:'Montserrat';
		font-weight:300;
		float:left;
		color:$swiftbook-blue;
		-webkit-font-smoothing:subpixel-antialiased;
		font-size: 18px;
	}
	a.logo {
		margin:-15px auto 10px -75px;
		left:50%;
	}

	p:last-child {
		float:right;
	}

}

/* Cover Section */
.swiftbookcover {
	background: white;

	h1 {
		font-size:40px;
		font-family:'Lato';
		font-weight:200;
		text-align: center;
		color:$swiftbook-blue;
		em {
			text-decoration: underline;
			font-style: italic;
			font-weight: 200;
		}
	}

	.bookcover {
		margin:10px auto;
		max-width:480px;
		width:100%;
		display: block;
	}

}

.betaspan {
	color:$swiftbook-green;
}
.futuredatespan {
	opacity: 0.65;
}

.triforce {
	margin:10px auto;
	max-width:200px;
	width:100%;
	display: block;
}

.button.gumroad-button {
	display: block !important;
	margin: 50px auto !important;
	max-width: 380px !important;
	width:80% !important;
	height: 51px !important;
	text-align: center !important;
	background: $swiftbook-blue !important;
	line-height: 51px !important;
	font-size: 22px !important;
	font-family:'Lato' !important;
	font-weight: 400 !important;
	border-radius:5px !important;
	color:white !important;
	text-decoration: none !important;
	padding:0px !important;

	& > span {
		display: none !important !important;
	}
}

.button {
	display: block;
	margin: 25px auto;
	max-width: 100%;
	width:90%;
	height: 40px;
	text-align: center;
	background: $swiftbook-blue;
	line-height: 40px;
	font-size: 22px;
	font-family:'Noto Sans';
	font-weight: 600;
	border-radius:5px;
	color:white;
	text-decoration: none;
	padding:0px;


	& > span {
		display: none;
	}
}


.marketing-text {
	padding:0px 20px;
	box-sizing: border-box;

	h2 {
		font-size: 40px;
		font-family: 'Noto Sans';
		font-weight: 600;
		line-height: 50px;
		color:$swiftbook-blue;
	}

	h3	{
		font-size: 32px;
		font-family: 'Noto Sans';
		line-height: 40px;
		font-weight:600;
		color:$swiftbook-blue;
		text-align: justify;
	}

	p {
		font-family:'Noto Sans';
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		color:$swiftbook-black;
		text-align: justify;
	}

}


.colored-row {
	padding-top:25px;
	padding-bottom:25px;
	max-width:100%;

	.marketing-text {
		max-width:920px;
		h2 {
			font-weight: 200;
		}
		h3 {
			font-weight: 600;
		}
	}

}

.blue-row {

	@extend .colored-row;
	background: $swiftbook-blue;

	.marketing-text {
		h2, h3 {
			color:white;
		}
	}

	.button {
		border: 5px solid white;
		background: transparent;
	}

}

.yellow-row {
	@extend .colored-row;
	background: $swiftbook-yellow;

	h2 {
		color: $swiftbook-green;
	}
}

.red-row {
	@extend .colored-row;
	background: $swiftbook-red;


	.marketing-text {
		h2 {
			color: $swiftbook-black;
		}

		h3 {
			color:#222222;
			font-size: 26px;
			text-align:center;
			font-weight: 600;
		}
	}

}

.green-row {
	@extend .colored-row;
	background: $swiftbook-green;

	.marketing-text {
		h2 {
			color: $swiftbook-black;
		}

		h3 {
			color:#222222;
			font-size: 30px;
			text-align:left;
			font-weight: 600;
			margin:0px
		}

		img {
			max-width: 480px;
			width:95%;
			margin: 0px auto 0px;
			display: block;
		}

		.button.gumroad-button {
			border: 3px solid white !important;
			background:transparent !important;
			color:white !important;
			margin: 10px auto 25px !important;
			line-height:40px !important;
			height:40px !important;
			width:95% !important;
			max-width:480px !important;
		}

	}

}


.yosemite-row {
	@extend .blue-row;
	background: $swiftbook-blue;
	// background-image: url('../img/code2Phone.png'), url('../img/phoneBackground.jpg');
	// background-position: bottom center, center top;
	// background-repeat: no-repeat;
	// background-size: auto, cover;
	background-image: url('../img/justDesktopPhone.png'), url('../img/justDesktopCode.png'), url('../img/phoneBackground.jpg');
	background-position: center bottom, left bottom, center top;;
	background-repeat: no-repeat;
	background-size: auto, auto, cover;
	min-height:562px;

	.marketing-text {
		h2, h3 {
			color:$swiftbook-black;
		}
	}

	.mobileCodeBox, .mobilePhoneBox {
		min-height: 400px;	
	}

}


.method-row {
	@extend .colored-row;

	.marketing-text {
		h2 {
			color: $prologue-blue;
		}

		h3 {
			color:#222222;
			font-size: 26px;
			text-align:center;
			font-weight: 600;
		}

		img {
			max-width: 162px;
			margin: 50px auto 0px;
			display: block;
			width:95%;
		}

	}
}


.narrowdivs > div {

	img {
		display: block;
		margin:0px auto;
	}

	p {
		text-align:center;
		margin: 20px 0px;
	}

	div {
		img {
			max-width:78px;width:100%;
		}
	}

	margin-bottom:20px;

}

.app-block {
	@extend .clearfix;
	margin:25px 0px;
	border:4px dashed transparent;
	border-radius: 30px;
	padding:10px;
	box-sizing:border-box;
	background: $swiftbook-blue;


	// &:hover {
	// 	border:4px dashed white;
	// }

	img {
		float:left;
	}

	p {
		margin:0px 0px 0px 125px;
		font-size: 24px;
		line-height: 32px;
		color:white;
		font-weight: 400;
		font-family: 'Lato';
	}

	&.mystery {
		border:4px solid white;

		p {
			margin:25px 10px;
			text-align:center;
		}
	}
}

.pricebox {
	border-radius: 20px;
	border: 4px solid white;
	background: $swiftbook-blue;
	color:white;
	padding:15px;
	margin:20px;
	box-sizing:border-box;
	position: relative;

	.circleprice {
		display: block;
		position: absolute;
		border-radius:500px;
		background: $swiftbook-blue;
		width:80px;
		height: 80px;
		top:-40px;
		right:-40px;
		text-align: center;
		line-height: 80px;
		font-size: 26px;
		color:white;
		font-family:'Lato';
		box-shadow: inset 0 0px 0px 5px white;
		border:5px solid $swiftbook-blue;
	}

	h2 {
		font-family:'Lato';
		font-size:26px;
		line-height:32px;
		font-weight: 400;
		text-align: center;
		margin-top:0px;
		color:white;
	}

	ul {
		padding:0 0 0 20px;
		font-size:18px;
		line-height: 24px;
		font-family: 'Lato';
		font-weight: 400;
	}

	.button {
		margin: 0px 0px !important;
		background-color:white !important;
		width: 100% !important;
		color: $swiftbook-blue !important;
		border: 4px solid white !important;
		box-sizing: border-box !important;
		height: 50px !important;
		line-height: 42px !important;
		text-align:center !important;

		&:active {
			color:white !important;
			background: $swiftbook-blue !important;
		}
	}
}

.profiles {
	img {
		display: block;
		position:relative;
		max-width: 128px;
		margin:10px auto;
		border:0px solid $prologue-blue;
		border-radius:100px;
	}

	p {
		text-align:Left;
		margin:10px auto;
		-webkit-font-smoothing:antialiased;

		strong {
			text-align: center;
		}

		a {
			color:$prologue-blue;
			text-decoration: underline;
		}
	}
}

hr {
	border:2px solid #333333;
	margin:35px 10px;
}


.iphone-mockup {

	img {
		width:100%;
		max-width: 320px;
		display: block;
		margin:30px auto;
	}
}

.button-input {
	@extend .button;
	background: #FAFAFA;
	border: 2px solid #4A4A4A;
	color:#4a4a4a;

	&::-webkit-input-placeholder{
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	&:-ms-input-placeholder{
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	&::-moz-placeholder{
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	&:-moz-placeholder {
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	
	&:focus {
		outline:0;
	}

}


// .desktop-visible {
// 	display: block;
// }

.mobile-visible {
	display: none;
	@extend .clearfix;
}


// Media Queries and stuff
@media screen and (max-width: 660px) {

	// .desktop-visible {
	// 	display: none;
	// }

	// .mobile-visible {
	// 	display: block;

	// }

	// header {
	// 	p, p a {
	// 		display: none;
	// 	}
	// }

	.logo {
		display: none;
	}

	.button, .button.gumroad-button {
		font-size: 18px !important;
	}

	.swiftbookcover {
		h1 {
			font-size:30px;
		}
	}	

	.marketing-text {
		h2 {
			font-size: 30px;
			line-height: 30px;
		}

		p, h3 {
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
		}
	}

	.yosemite-row {

		background-size: 800px 450px, cover;
		min-height:450px;

		// background:none;

		// h2 {
		// 	display: block;
		// }

		// .mobileCodeBox {
		// 	background-image: url('../img/codeMobile.png'), url('../img/phoneBackgroundMobile.jpg');
		// 	background-position: bottom center, center top;
		// 	background-repeat: no-repeat;
		// 	background-size: 320px 400px, cover;
		// 	min-height:400px;
		// }

		// .mobilePhoneBox {
		// 	background-image: url('../img/phoneMobile.png'), url('../img/phoneBackgroundMobile.jpg');
		// 	background-position: bottom center, center top;
		// 	background-repeat: no-repeat;
		// 	background-size: 320px 400px, cover;
		// 	min-height:400px;
		// }



	}



	.app-block {
		margin:25px 0px;
		border:0px dashed white;

		&:hover {
			border:0px dashed white;
		}

		// hide to make them left aligned
		img {
			float:none;
			display: block;
			margin: 0px auto 10px;
		}

		p {
			// hide to make them left aligned
			margin:0px;
			font-size: 18px;
			line-height: 24px;
			// hide to make them left aligned
			text-align: center;
		}

		&.mystery {
			p {
				margin:20px 10px;
			}
			&:hover {
				border:4px dashed white;
			}
		}
	}

	.iphone-mockup {
		display: none;
	}

}

#mc_embed_signup {
	margin-top: 0px !important;
}
.email {
	margin: 0px auto 10px !important;
}

#mc_embed_signup {
	label {
		text-align: center;
	}

	input.button {
		margin: 20px auto !important;
	}
}