@import "main";

$swiftbook-blue: #1078D8;
$swiftbook-black: #222222;

/* Adjust Body & Elastic stuff*/
body {
	padding-top:25px;
}

.elastic-container {
	max-width: 920px;
	padding-top:50px;
	padding-bottom:50px;
}

.elastic {
	max-width:920px;
	margin:0 auto;
}

p, pre {
	margin: 0 0 1em 0;


}

/* Header Styles */
header {
	display: block;
	width: 100%;
	position: relative;
	height: 50px;

	font-family:'Montserrat';
	font-weight:300;

	p, p a {
		margin:0px 10px;
		font-family:'Montserrat';
		font-weight:300;
		float:left;
		color:$swiftbook-blue;
		-webkit-font-smoothing:subpixel-antialiased;
		font-size: 18px;
	}
	a.logo {
		margin:-15px auto 10px -75px;
		left:50%;
	}

	p:last-child {
		float:right;
	}

}

/* Cover Section */
.swiftbookcover {
	background: white;

	h1 {
		font-size:40px;
		font-family:'Lato';
		font-weight:100;
		text-align: center;
		color:$swiftbook-blue;
		em {
			text-decoration: underline;
			font-style: italic;
			font-weight: 100;
		}
	}

	.bookcover {
		margin:10px auto;
		max-width:380px;
		width:90%;
		display: block;
	}

}

.button, .button.gumroad-button {
	display: block !important;
	margin: 50px auto !important;
	max-width: 380px !important;
	width:80% !important;
	height: 51px !important;
	text-align: center !important;
	background: $swiftbook-blue !important;
	line-height: 51px !important;
	font-size: 22px !important;
	font-family:'Lato' !important;
	font-weight: 400 !important;
	border-radius:5px !important;
	color:white !important;
	text-decoration: none !important;
	padding:0px !important;

	& > span {
		display: none !important !important;
	}
}

.marketing-text {

	h2 {
		font-size: 40px;
		font-family: 'Lato';
		font-weight: 600;
		line-height: 50px;
		color:$swiftbook-blue;
	}

	p {
		font-family:'Lato';
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		color:$swiftbook-black;
		text-align: justify;
	}

}

.blue-row {
	max-width: 100%;
	width: 100%;
	background: $swiftbook-blue;
	// padding-top:25px;
	// padding-bottom:25px;

	.marketing-text {
		max-width:920px;

		h2 {
			color:white;
		}

		p {
			color:white;
		}
	}
}

.app-block {
	@extend .clearfix;
	margin:25px 0px;
	border:4px dashed transparent;
	border-radius: 30px;
	padding:10px;

	&:hover {
		border:4px dashed white;
	}

	img {
		float:left;
	}

	p {
		margin:0px 0px 0px 125px;
		font-size: 24px;
		line-height: 32px;
		color:white;
		font-weight: 400;
		font-family: 'Lato';
	}

	&.mystery {
		border:4px solid white;

		p {
			margin:25px 10px;
			text-align:center;
		}
	}
}

.iphone-mockup {

	img {
		width:100%;
		max-width: 320px;
		display: block;
		margin:30px auto;
	}
}

.button-input {
	@extend .button;
	background: #FAFAFA;
	border: 2px solid #4A4A4A;
	color:#4a4a4a;

	&::-webkit-input-placeholder{
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	&:-ms-input-placeholder{
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	&::-moz-placeholder{
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	&:-moz-placeholder {
	   color: black !important;
	   opacity: 0.5 !important;
	   font-family: 'Lato' !important;
	   font-weight: 400 !important;
	}

	
	&:focus {
		outline:0;
	}

}





// Media Queries and stuff
@media screen and (max-width: 660px) {

	header {
		p, p a {
			display: none;
		}
	}

	.button, .button.gumroad-button {
		font-size: 18px !important;
	}

	.swiftbookcover {
		h1 {
			font-size:30px;
		}
	}	

	.marketing-text {
		h2 {
			font-size: 30px;
			line-height: 30px;
		}
		p {
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
		}
	}

	.app-block {
		margin:25px 0px;
		padding:0px;
		border:0px dashed white;

		&:hover {
			border:0px dashed white;
		}

		// hide to make them left aligned
		img {
			float:none;
			display: block;
			margin: 0px auto 10px;
		}

		p {
			// hide to make them left aligned
			margin:0px;
			font-size: 18px;
			line-height: 24px;
			// hide to make them left aligned
			text-align: center;
		}

		&.mystery {
			p {
				margin:20px 10px;
			}
			&:hover {
				border:4px dashed white;
			}
		}
	}

	.iphone-mockup {
		display: none;
	}

}
