* {
	font-size:16px;
	text-align: justify !important;
	transition:;
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
}
h1, h2, h3, h4, h5, h6, a, p, p a, strong, em, strong em, blockquote, ul, ol, img + figcaption p {
	font-family: 'Georgia', 'Serif', 'serif';
	font-weight: 400;
	font-size:1rem;
	line-height: 1.5rem;
	margin:0px 0px 20px;
	/*color:#3d464d;*/
	color: #222222;
}
@media all and (max-width: 660px) {
	h1, h2, h3, h4, h5, h6, a, p, p a, strong, em, strong em, blockquote, ul, ol, img + figcaption p {
		font-size:1rem;
		line-height: 1.5rem;
	}
}

/*  Headers  */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham', 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif', 'sans-serif';
	font-weight: 700;
	text-align: left;
	/*color:#2C88DC;*/
	color:#222222;
}
h1 {
	font-size:3rem;
	margin:50px 0px;
}
h2 {
	font-size:1.6rem;
	margin:20px 0px;
}
h3 {
	font-size:1.6rem;
	margin:20px 0px;
}
h4, h5, h6 {
	font-size:1.2rem;
}
@media all and (max-width: 660px) {
	h1 {
		font-size:2.5rem;
	}
	h2 {
		font-size:1.6rem;
	}
	h3 {
		font-size:1.6rem;
	}
	h4, h5, h6 {
		font-size:1.2rem;
	}
}

/* Paragraphs */
a, p, p a, strong, em, strong em {
}
blockquote {
	padding-left:20px;
	border-left:10px solid #222222;
}
blockquote, blockquote em, blockquote strong, blockquote strong em {
	color:#505050;
	font-style:italic;
}

/* Code */
pre, code, pre code, code pre, pre code span, code pre span {
	font-family: 'Source Code Pro', '','monospace';
	font-size:1rem;
	line-height: 1.4rem;
	overflow: scroll;
}

/* Images */
img {
	width:100%;
	max-width:700px;
	margin:0px auto;
}
img + figcaption p {
	display: inline-block;
	opacity:0.7;
	font-size: 0.9rem;
	font-style: italic;
	text-align: left;
}

