/* Author: Karl Oscar Weber */

/*imports*/
@import "normalize", "grater", "elastic";

/*variables*/
.color-white {}
$color-blue:#007eff;
.color-blue {color:#007eff;}
.color-green {}
.color-red {}
.color-yellow {}
$margin-bottom:50px;




/*The rest*/
body {
  font-smoothing: antialiased !important;
  display:block;
  clear:both;
  background: #ffffff;
}


/*Typography*/
*  {
  color:#000000;
  font-smoothing: antialiased !important;
  font-family:Lato, sans-serif;
  font-weight:normal;
}

p, .button, blockquote, h1, h2, h3, h4, h5, label {
  margin-bottom:$margin-bottom;
}


/*Headers*/

/*
  All content like text, quotes, li's and images have a margin-top of 2rems
  .grater divs have a bottom margin of 2rems. But we run into problems if we have 
  content that doesn't need to be in a .grater div but needs to have that extra space
  So! what we should do is add a bottom margin to .grater-container of 2rems, and
  add a negative margin to .grater of -2rems so that when we use the grater-ness
  it doesn't throw off our margins.
*/

/*
  Margin top 2rem
  text align=
*/
h2 {
  font-size: 32px;
  line-height: 32px;
  margin:2rem 0 0;
  text-align: justify;
}
h3 {
  font-size: 24px;
  line-height: 24px;
  margin:2rem 0 0;
  text-align: justify;  
}
h1, h2, h3, h4, h5 {
  font-family: Lato, Serif;
}

.centered {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

/*paragraphs*/
.standardText {

}

p {
  font-size: 16px;
  line-height: 24px;  
}
p.lead, h2 {
  
  font-size: 40px;
  line-height: 60px;
  width: 100%;
  font-weight:400;
  font-family:"Lato", sans-serif;
  text-align:center;

  span  {
    font-weight:700;
  } 
}

@media only screen and (max-width: 660px) {
  p.lead, h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

ol {
  font-size: 1.25rem;
  padding:0 0 0 1.6rem;

  li {
    font-weight: 300;
  }
}

/*links*/
a {
  color:#555555;
  text-decoration: underline;
  font-weight: 300;}
a:hover {
  text-decoration: none;
}
::-webkit-input-placeholder, :-ms-input-placeholder, ::-moz-placeholder, :-moz-placeholder {
  color:#999999;
}

/*Flash Message*/
#flashMessage {

}

/*buttons*/
.button, input.button {
  margin-left:auto;
  margin-right:auto;
  font-size:25px;
  max-width:300px !important;
  width:100% !important;
  box-sizing:border-box;
  text-align:center;
  display:block;
  border-radius: 5px;
  padding: 6px 13px;
  border:3px solid $color-blue;
  width:auto;
  background:transparent;
  -moz-transition: border-color, opacity, background-color 0.05s ease-in-out 0s;
  -o-transition: border-color, opacity, background-color 0.05s ease-in-out 0s;
  -webkit-transition: border-color, opacity, background-color 0.05s ease-in-out 0s;
  -ms-transition: border-color, opacity, background-color 0.05s ease-in-out 0s;
  transition: border-color, opacity, background-color 0.05s ease-in-out 0s;
  text-decoration: none;
  cursor: pointer;
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
}
.button:focus, .button:hover, input.button:focus, input.button:hover {
  /*outline:none;
  border:1px solid #000000;*/
  // opacity: .83;
}
.button:active, input.button:active {
  background-color: $color-blue;
  color:#ffffff;
  border-color:$color-blue;
  outline:none;
  border:3px solid $color-blue;
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
}



.button.color-white {
  background-color: $color-blue;
  color:#ffffff;
  border:3px solid #ffffff;
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
}
.button.color-white:focus, .button.color-white:hover, input.button.color-white:focus, input.button.color-white:hover {
  background-color: #ffffff;
  color:$color-blue !important;
  border:3px solid #ffffff;
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
}

.button.color-white:active {
  background-color:$color-blue;
  color:#ffffff !important;
  border:3px solid $color-blue;
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
}


/*Colors & effects*/
.copyright {
  font-size: 1rem;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
}

/* Admin Stuff */
table {
  width:100%;
}
table th {
  text-align: left;
  font-size: 1rem;
  background: #C0C0C0;
  padding:3px;
  padding-left:10px;
  padding-right:10px;
  color:#ffffff;
  font-weight: 300;   
}
table td {
  font-weight: 300;
  text-align: left;
  padding:3px;
  padding-left:10px;
  padding-right:10px; 
  border-bottom:1px solid #C0C0C0;   
}
.input.text, .input.submit {
  padding:10px;
}
.input.text label {
  width: 135px;
  display: inline-block;
  text-align: right;
  padding: 0px 10px 0px 0px;
}
.input.text input {
  max-width:450px;
  min-width: 145px;
  box-sizing:border-box;
  border-radius:5px;
  border:1px solid #555555;
  background: transparent;
  padding:5px;
}
.input.text input:focus, .input.text input:active {
  outline:none;
  box-shadow: 0px 0px 3px #555555;
}

@media only screen and (max-width: 660px) {

  .input.text {
    padding:10px 0px;

  }
  .input.text label {
    width: 100%;
    text-align: left;
  }
  .input.text input {
    width:100%;
  }
}

/* scaffold */
.elastic-row, footer {
  box-sizing:border-box;
  // margin-top:$margin-bottom;
}
.elastic-row + .elastic-row {
  // margin-top:$margin-bottom*2;
}

/*header*/
header {
  display:block;
  position:fixed;
  width:100%;
  top:0px;
  left:0px;
  background:rgba(96, 96, 96, 0.5);
  height:50px;

  .headerlinks, .logo, a {
    color:#ffffff;
    font-size:20px;
    text-decoration:none;
  }
  a:hover {
    text-decoration:underline;
  }

  .logo {
    display:inline-block;
    position:absolute;
    font-family:'Cabin', sans-serif;
    font-weight:400;
    top:10px;
    left:10px;
    font-size:20px;
  }
  .headerlinks {
    display:block;
    position:absolute;
    top:10px;
    right:10px;
    color:#ffffff;
  }
}

@media only screen and (max-width: 560px) {
  header {
    position: relative;
    background:rgba(0,0,0,0);
    height:0px;
  }
}

/*special rows*/
.elastic-row.new-york-city {
  background:url('../img/cover.jpg') no-repeat center top fixed;
  background-size:cover;
  a, h1 {
    color:#ffffff;
    font-size:80px;
    text-align: center;
    width: 100%;
    font-family: Cabin;
    font-weight: 500;
    position: relative;
    z-index: 1000;
  }
}
@media only screen and (max-width: 900px) {
  .elastic-row.new-york-city > .elastic-container {
    max-width:460px !important;
  }
  .elastic-row.new-york-city {
    a, h1 {
      color:#ffffff;
      font-size:60px;
    }
  }
}
@media only screen and (max-width: 640px) {
  .elastic-row.new-york-city {
    background:url('../img/cover-mobile.jpg') no-repeat center top fixed !important;
    background-size:cover;
  }
  .elastic-row.new-york-city {
    a, h1 {
      color:#ffffff;
      font-size:40px;
    }
  }
  .lead {
    font-size:24px !important;
  }
}
@media only screen and (max-width: 560px) {
  .elastic-row.new-york-city > .elastic-container {
    width:100%;
  }
}



.elastic-row.iphone-row {
  background:url('../img/iphone.png') repeat-x center bottom;
  min-height:432px;
  h2.iphone-coming-soon-text {
    width: 152px;
    text-align: center;
    padding-top:206px;
    margin: 0 auto;
    line-height:40px;
  }
}


.elastic-row.contact-row, footer {
  background:$color-blue;

  * {
    color:#ffffff !important;
    font-smoothing:antialiased;
    -webkit-font-smoothing:antialiased;
    text-align:center;
  }
  .button.color-white {
    margin:0 auto;
  }
}

footer {
  @extend .clearfix;
 background:$color-blue; 
}


.clearfix:before, .clearfix:after {
  content:"";
  display: table;
}
.clearfix:after {
  clear:both;
}